body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

main {
	margin: 3rem;
}

form div {
	margin-bottom: 0.5rem;
}

button,
a.button {
	font-size: 1rem;
	color: white;
	background-color: lightseagreen;
	text-decoration: none;
	margin: 0.5rem 0;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="radio"],
label {
	cursor: pointer;
}

select {
	padding: 0.5rem;
	border-radius: 5px;
	font-size: 1rem;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0.5rem;
}

.mt-1 {
	margin-top: 1rem;
}

.messages p {
	padding: 1rem;
	border-radius: 5px;
}

.messages .error {
	color: darkred;
	background-color: rgba(255, 0, 0, 0.1);
}

.messages .warning {
	color: rgb(119, 91, 19);
	background-color: rgba(255, 255, 0, 0.1);
}
